    <div class="rounded shadow border">
      <table>
        <tr>
          <th colspan=2><span class="response-header">Are you coming?</span></th>
        </tr>
        <tr>
          <td>
            <img class="response" src="/images/tick.png">
          </td>
          <td>
            Yes!
          </td>
        </tr>
        <tr>
          <td>
            {% include fragments/positive-multiple.html %}
          </td>
          <td>
            Yes, with friends!
          </td>
        </tr>
        <tr>
          <td>
            <img class="response" src="/images/cross.png">
          </td>
          <td>
            No :(
          </td>
        </tr>
      </table>
    </div>
