    <div class="rounded shadow border">
      <table>
        <tr>
          <th>
            {% include "fragments/positive-multiple.html" %}
          </th>
          <th>
            <span class="response-header">I'm attending with friends!</span>
          </th>
        </tr>
        <tr>
          <td colspan=2>

            <table class="gravatar-n-friends">
              <tr>
                <td rowspan=3>
                  <img class="gravatar-large" src="{{ gravatar }}" alt="Gravatar">
                </td>
                <td>
                  <img class="gravatar-small" src="/images/silhouette.png" alt="Friend A">
                </td>
              </tr>
              <tr>
                <td>
                  <img class="gravatar-small" src="/images/silhouette.png" alt="Friend B">
                </td>
              </tr>
              <tr>
                <td>
                  <img class="gravatar-small" src="/images/silhouette.png" alt="Friend C">
                </td>
              </tr>
            </table>

          </td>
        <tr>
          <td colspan=2>
            {% include "fragments/change-response.html" %}
          </td>
        </tr>
      </table>
    </div>
