            <table>
              <tr>
                <td rowspan=3>
                  <img class="response" src="/images/tick.png">
                </td>
                <td>
                  <img class="response-small" src="/images/tick.png">
                </td>
              </tr>
              <tr>
                <td>
                  <img class="response-small" src="/images/tick.png">
                </td>
              </tr>
              <tr>
                <td>
                  <img class="response-small" src="/images/tick.png">
                </td>
              </tr>
            </table>
