[submodule "third_party/jquery.tweet"]
	path = third_party/jquery.tweet
	url = git://github.com/sydney-linux-user-group-dependencies/jquery.tweet.git
[submodule "third_party/jquery.form"]
	path = third_party/jquery.form
	url = git://github.com/sydney-linux-user-group-dependencies/jquery.form.git
[submodule "third_party/jquery-openid"]
	path = third_party/jquery-openid
	url = git://github.com/jamezpolley/jquery-openid.git
[submodule "third_party/jquery.validation"]
	path = third_party/jquery.validation
	url = https://github.com/jzaefferer/jquery-validation
