*.pyc
*.swp
third_party.zip
third_party/*.tar.gz
third_party/python-datetime-tz
third_party/python-dateutil-1.5
pytz
third_party/gaepytz-2011c
third_party/vobject
third_party/Markdown*
third_party/PyRSS2Gen-1.0.0
