/**
 * CSS which is common throughout the whole site.
 *
 * -*- coding: utf-8 -*-
 * vim: set ts=2 sw=2 et sts=2 ai:
 */

/*YUI Reset CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
table {
  border-collapse:separate;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
  margin-bottom: 0.5em;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}

/* End Reset */

/* Set some defaults */

h1 {
  margin-top: .4em;
  font-size: 2em;
  margin-bottom: .2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

/* From http://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/**
 * Changes to the default behaviour of elements
 */
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  padding-top: 0px;
  padding-right: 0.4em;
  padding-left: 0.4em;

  font-family: "Trebuchet MS", "Tahoma", "Verdana", "Arial", "Helvetica", sans-serif;
}

a {
  text-decoration: 0;
}

img {
  border: 0;
}

/* Fix PNG transparency in older IE browsers. */
img, div, a, input {
  behavior: url(/css/resources/iepngfix.htc);
}

/**
 * Useful classes used everywhere.
 */
.box {
  behavior: url(/css/htc/border-radius.htc);

  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid black;
  padding: 9px;
}

.hover:hover {
  cursor: pointer;
}

/**
 * CSS for objects in every page.
 */
#navbar {
  border-bottom: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

#navbar ul {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

#navbar #links {
  float: left;
}

#navbar #config {
  float: right;
}

#navbar li {
  display: inline;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

#main {
  padding-top: 1.4em;
  border-collapse: separate;
  height: 100%;
}

#body table {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-spacing: 1px;
}

#header {
  height: 14pt;
  font-size: 14pt;
}

#content {
  background-color: #FFCC33;
  padding: 5px;
  text-align: left;
  opacity: .9;
}

#rightbar {
  vertical-align: top;
  overflow-y: auto;
}

.hint {
  display: inline;
  font-size: smaller;
}

form li {
  margin-top: 1em;
}

form li label {
  vertical-align: top;
}

#talkOfferForm {
  width: 600px;
}

.evenrow {
  background-color: grey
}

.oddrow {
  background-color: white
}

