/**
 * CSS which is common throughout the whole site.
 *
 * -*- coding: utf-8 -*-
 * vim: set ts=2 sw=2 et sts=2 ai:
 */

/*YUI Reset CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
table {
  border-collapse:separate;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
  margin-bottom: 0.5em;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}

/* End Reset */

/* Set some defaults */

h1 {
  margin-top: .4em;
  font-size: 2em;
  margin-bottom: .2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

/* From http://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  padding-top: 0px;
  padding-right: 0.4em;
  padding-left: 0.4em;

  font-family: "Trebuchet MS", "Tahoma", "Verdana", "Arial", "Helvetica", sans-serif;
}

form {
  margin-top: 0.4em;
}

/* Fix PNG transparence in older IE browsers. */
img, div, a, input {
  behavior: url(/css/resources/iepngfix.htc);
}

a {
  text-decoration: 0;
}

img {
  border: 0;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#background img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#adminfooter {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-right: 10px;
}

.box {
  behavior: url(/css/htc/border-radius.htc);

  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid black;
  padding: 9px;
}

#heading {
  font-size: 40pt;
  float: left;
}

.hover:hover {
  cursor: pointer;
}

#navbar {
  border-bottom: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

#navbar ul {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

#navbar #links {
  float: left;
}

#navbar #config {
  float: right;
}

#navbar li {
  display: inline;
  padding-left: 0.2em;
  padding-right: 0.2em; 
}

#main {
  padding-top: 1.4em;
  border-collapse: separate;
  height: 100%;
}

#content {
  background-color: #FFCC33;
  padding: 5px;
  text-align: left;
  opacity: .9;
}

#rightbar {
  vertical-align: top;
  overflow-y: auto;
}

.event-icons {
  display: table-cell;
}


#eventright {
  display: table
  padding: 5px;
}
#eventright .start {
  display: table-row;
}
#eventright .respond {
  display: table-row;
}
#eventright .editlink {
  display: table-row;
}

.gravatar {
  width: 34px;
  height: 34px;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 1px;
  float: left;

  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.gravatar-you {
  border: 1px solid blue;
}

.gravatar-friend {
  border: 1px solid red;
}

.gravatar-friend:hover {
  background-image: url('/images/cross-small.png');
}


.response-button {
  cursor: pointer;

  height: 32px; /* 30px + 2px border */
  width: 8.5em;

  border: 1px solid #aaaaaa;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  padding: 4px;
  padding-right: 8px;
  font-size: 16px;

  background: #999;
  background-repeat: no-repeat;
}

.response-button:hover {
  border: 1px solid black;
}

.response-yes {
  padding-left: 34px;
  background-image: url('/images/tick-small-button.png');
}

.response-no {
  padding-left: 34px;
  background-image: url('/images/cross-small-button.png');
}

.response-friends {
  width: 1.5em;
}

.response-change {
  border-spacing: 2px;
}

.response-button-small {
  cursor: pointer;

  height: 22px; /* 20px + 2px border */

  border: 1px solid #aaaaaa;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  padding-right: 5px;
}

.response-button-small:hover {
  border: 1px solid black;
}

.response-addfriends-small {
  padding-left: 25px;
  background-image: url('/images/multi-tiny-button.png');
}

.response-yes-small {
  padding-left: 20px;
  background-image: url('/images/tick-tiny-button.png');
}

.response-no-small {
  padding-left: 20px;
  background-image: url('/images/cross-tiny-button.png');
}
