* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 5px solid white;

  font-family: "Trebuchet MS", "Tahoma", "Verdana", "Arial", "Helvetica", sans-serif;
}

/* Fix PNG transparence in older IE browsers. */
img, div, a, input {
  behavior: url(/css/resources/iepngfix.htc);
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#background img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#adminfooter {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-right: 10px;
}

.box {
  behavior: url(/css/htc/border-radius.htc);

  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  border: 2px solid black;
}

#heading {
  font-size: 40pt;
  float: left;
}

#navbar {
  float: right;
}

#navbar li {
  float: left;
  padding: 5px;
}

#wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: table;
  width: 100%;
}

#more-wrapper {
  display: table-cell;
}

#body h1 {
  width: 100%;
  text-align: right;
  margin: 0;
  padding-right: 0.5em;
}

#content {
  display: table-cell;
  background-color: #e69138;
  padding: 5px;
  text-align: left;
  opacity: .9;
}

.event-icons {
  float: right;
}
