* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 5px solid white;

  font-family: "Trebuchet MS", "Tahoma", "Verdana", "Arial", "Helvetica", sans-serif;
}

/* Fix PNG transparence in older IE browsers. */
img, div, a, input {
  behavior: url(/css/resources/iepngfix.htc);
}

a {
  text-decoration: 0;
}

img {
  border: 0;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#background img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#adminfooter {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-right: 10px;
}

.box {
  behavior: url(/css/htc/border-radius.htc);

  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  border: 2px solid black;
}

#heading {
  font-size: 40pt;
  float: left;
}

.hover:hover {
  cursor: pointer;
}

#navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid black;
}

#navbar ul {
  display: block;
  padding: 0;
  margin: 0;
}

#navbar #links {
  float: left;
}

#navbar #config {
  float: right;
}

#navbar li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

#main {
  padding-top: 20px;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
}

#content {
  background-color: #e69138;
  padding: 5px;
  text-align: left;
  opacity: .9;
}

.event-icons {
  display: table-cell;
}


#eventright {
  display: table
  padding: 5px;
}
#eventright .start {
  display: table-row;
}

#eventright .respond {
  display: table-row;
}

#eventright .editlink {
  display: table-row;
}

.response-table {
    display: inline-table;
}

.response-answer {
    display: table-row;
}

.response-text {
    display: table-cell;
}

.response-images-small {
  display: inline-table;
}

.response-image-small {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
}

.response-image {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: 0;
  display: table-cell;
}

.gravatar-large {
  width: 148px;
  height: 148px;
  padding: 1px;
  margin: 0;
  display: table-cell;
}

.gravatar-small {
  width: 48px;
  height: 48px;
  padding: 1px;
  margin: 0;
  display: block;
}

.gravatar-n-friends {
  width: 200px; /* gravatar.height + 2*gravatar.padding +
                   gravatar-small.height + 2*gravatar-small.padding */
  height: 150px; /* .gravatar.height + 2*gravatar.padding */
  display: table-row;
}

.gravatar-column {
  display: inline-table;
}

.response-text {
  vertical-align: middle;
}

.response-header {
  font-size: 20pt;
  display: table-row;
}

.respond body {
  border: 0px;
}

.response-details {
  display: table;
}

.positive-multiple {
    display: table-cell;
    vertical-align: top;
}

.positive-multiple-images {
  display: inline-table;
}

#rightbar {
  vertical-align: top;
  overflow-y: scroll;
}
