.evenrow {
  background-color: grey
}

.evenrow.unpublished {
  background-color: #C08080;
}

.evenrow.altered {
  background-color: #DF7401;
}

.oddrow {
  background-color: white
}

.oddrow.unpublished {
  background-color: #FFB9B9;
}

.oddrow.altered {
  background-color: #F7BE81;
}

.event-html {
  height: 250px;
  overflow-y: scroll
}

.response {
  height: 250px;
  overflow: scroll;
  border: 0px;
}

