.evenrow {
  background-color: grey
}

.evenrow:hover {
  cursor: pointer;
}

.oddrow {
  background-color: white
}

.oddrow:hover {
  cursor: pointer;
}

.event-html {
  height: 250px;
  overflow: scroll
}

.response {
  height: 250px;
  overflow: scroll;
}
