.evenrow {
  background-color: grey
}

.evenrow.unpublished {
  background-color: #C08080;
}

.evenrow.altered {
  background-color: #DF7401;
}

.oddrow {
  background-color: white
}

.oddrow.unpublished {
  background-color: #FFB9B9;
}

.oddrow.altered {
  background-color: #F7BE81;
}

.eventrow td {
    vertical-align: top;
}

.event {
  height: 100%;
  overflow-y: auto;
}

#content table th {
  height: 12pt;
}

#content table th.response {
  width: 276px;
  max-width: 276px;
  min-width: 276px;
}

#content table tr {
  height: 33%;
}

#content table tr.header-type {
  height: 12pt;
}

#content table tr.header-titles {
  height: 10pt;
}

