#rightbar {
  width: 300px;
}

#rightbar .box {
  background: white;
  margin: 5px;
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 9px;
}

#rightbar ul {
  padding: 0;
  margin: 0;
}

#rightbar h2 {
  font-weight: bold;
  font-size: 16pt;
  padding: 5px;
  margin: 0;
}

#rightbar h3 {
  font-weight: bold;
  font-size: 12pt;
  padding: 0;
  margin: 0;
}

#rightbar li {
  display: block;
  padding: 5px;
}

#rightbar iframe {
  width: 100%;
  height: 280px;
  border: 0;
  padding: 0;
  margin: 0;
}

#attend:hover {
  cursor: pointer;
}

#header {
 height: 40px;
}

#header h1 {
  padding: 0;
  margin: 0;
  height: 40px;
}

#content {
  height: 5%;
}

#twitter, #youtube {
  height: 95%;
}

#footer {
  height: 70px;
}

#footer table {
  width: 100%;
  height: 100%;
  border-spacing: 5px;
}

#footer .box {
  color: white;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#footer h2 {
  font-weight: bold;
  font-size: 22pt;
  padding: 0;
  margin: 0;
}

#footer .minor {
  font-size: 12pt;
}

#footer #attend {
  background: #009e0f;
  opacity: 0.9;
}
#footer #sponsor {
  background: #cf2a27;
  opacity: 0.9;
}
#footer #speak {
  background: #2b78e4;
  opacity: 0.9;
}

#twitter {
}

#event_list {
  height: 100%;
  overflow: auto;
}

.eventitem {
  display: table
}

.eventitem .start {
  display: table-row;
}
.eventitem .editlink {
  display: table-cell;
  float: right;
}

.eventitem .eventname {
  display: table-cell;
}

.eventitem .event-icons {
  display: table-cell;
  float: right;
}

#twitter {
  width: 200px;
  vertical-align: top;
}

#twitter-show {
  text-align: center;
}

#twitter-show a {
  font-size: 80%;
  color: #085258;
  text-decoration: none;
}

#youtube div {
  position: relative;
  height: 100%;
  width: 100%;
}

#youtube h3 {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  height: 15px;
  font-size: 15px;
  z-index: 100;
}

#youtube h3.left {
  left: 0;
}

#youtube h3.right {
  right: 0;
}

#youtube-wrapper {
  height: 100%;
  padding-top: 18px;
}
