#body {
    width: 70%;
}

#live-content {
 max-height: 70%;
}

#rightbar {
  vertical-align: top;
  overflow-y: auto;
  float: right;
  max-width: 300px;
}

#rightbar .box {
  background: white;
  margin: 5px;
}

#rightbar ul {
  padding: 0;
  margin: 0;
}

#rightbar h2 {
  font-weight: bold;
  font-size: 16pt;
  padding: 5px;
  margin: 0;
}

#rightbar h3 {
  font-weight: bold;
  font-size: 12pt;
  padding: 0;
  margin: 0;
}

#rightbar li {
  display: block;
  padding: 5px;
}

#attend:hover {
  cursor: pointer;
}

#header {
 margin-bottom: 0.4em ;
}

#header h1 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

#youtube {
  margin-left: 1em;
  width: 70%;
  float: left;
}

#footer {
  clear: left;
  height: 70px;
  width: 100%;
}

#footer .box {
  color: white;
  width: 31%;
  /*padding: .4em;*/
  margin: .2em;
  text-align: center;
  float: left;
}

#footer major {
  font-weight: bold;
  font-size: larger;
}

#footer .minor {
  font-size: smaller;
}

#footer #attend {
  background: #009e0f;
  opacity: 0.9;
}
#footer #sponsor {
  background: #cf2a27;
  opacity: 0.9;
}
#footer #speak {
  background: #2b78e4;
  opacity: 0.9;
}

#event_list {
  height: 95%%;
  overflow: auto;
}

.eventitem {
  display: table
}

.eventitem .start {
  display: table-row;
}
.eventitem .editlink {
  display: table-cell;
  float: right;
}

.eventitem .eventname {
  display: table-cell;
}

.eventitem .event-icons {
  display: table-cell;
  float: right;
}

#twitter {
  max-width: 200px;
  width: 27%;
  float: left;
}

#twitter-show {
  text-align: center;
}

#twitter-show a {
  font-size: 80%;
  color: #085258;
  text-decoration: none;
}

#youtube p{
  font-size: smaller;
  vertical-align: text-bottom;
}

#youtube .left {
  float: left;
}

#youtube .right {
    float: right;
}

#youtube-wrapper {
  height: 85%;
}

#youtube-wrapper iframe {
    height: 75% !important;
}
