<div class="positive-multiple">
  <div class="positive-multiple-images">
    <div class="response-answer">
      <img class="response-image" src="/images/tick.png">
      <div class="positive-multiple">
        <div class="response-images-small">
          <img class="response-image-small" src="/images/tick.png">
          <img class="response-image-small" src="/images/tick.png">
          <img class="response-image-small" src="/images/tick.png">
        </div>
      </div>
    </div>
  </div>
</div>
