{% extends "blank.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}

{% block title %}Login!{% endblock %}

{% block body %}
<table class="login">
{% with socialauth_begin_type='login' socialauth_verb='Login' %}
{% include "fragments/possible.html" %}
{% endwith %}
  </tr><tr>
    <td class="or or-hr"><hr></td>
    <td class="or or-middle">OR</td>
    <td class="or or-hr"><hr></td>
  </tr><tr>
    <td id=login rowspan=3>
      <h4>Login:</h4>
      <form action="" method="POST">
        {% csrf_token %}
        <table>
          <tr>
            <td colspan=2>
            {% if form.errors %}
              {% for error in form.errors.values %}
                <p>{{ error }}</p>
              {% endfor %}
            {% endif %}
            </tr>
          </tr>
          {{ form.as_table }}
          <tr>
            <td colspan=2>
              <input id="submit_login" type="submit" value="Login" />
              <input type="hidden" name="next" value="{{ next }}" />
            </td>
          </tr>
        </table>
      </form>
    </td>
    <td class="vor vor-hr"><hr></td>
    <td id=register rowspan=3>
     {% include "fragments/register.html" %}
    </td>
  </tr><tr>
     <td class="vor vor-middle">OR</td>
   </tr><tr>
     <td class="vor vor-hr"><hr></td>
   </tr>
</table>

{% endblock %}
