{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
<html {%block namespace %}{%endblock%}>
  <head>
    <title>{%block title%}Sydney Linux User Group{%endblock%}</title>
    <link rel="StyleSheet" href="/css/base.css" type="text/css" media="screen">
    <link rel="StyleSheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/third_party/jquery.form/jquery.form.js"></script>

    <link type="application/rss+xml" rel="alternate" title="SLUG Events RSS" href="/rss"/> 
    {% block head %}
    {% endblock %}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23521264-1']);
  _gaq.push(['_setDomainName', 'slug.org.au']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </head>
  <body>
    {% block header %}
<div id=navbar class="clearfix">
  <ul id=links>
    <li><a href="/">Home</a></li>
    <li>|</li>
    <li><a href="/events">Events</a></li>
    <li>|</li>
    <li><a href="http://lists.slug.org.au/archives/slug/">Archives</a></li>
    <li>|</li>
    <li><a href="http://lists.slug.org.au/listinfo/">Mailing Lists</a></li>
    <li>|</li>
    <li><a href="https://github.com/sydney-linux-user-group/slug">Get the code!</a></li>
  </ul>

  <ul id=config>
    {% if appengine_admin %}
      <li><span style="color: red;">Admin User</span></li>
      <li><a href="/event/add">Add Event</a></li>
    {% endif %}
    <li id="feed-icons">
      <a href="webcal://{{ req.host }}/ical" title="iCal feed of all events"><img src="/images/ical16x16.gif" alt="iCal feed of all events"></a>
      <a href="/rss" title="RSS Feed of all events"><img src="/images/feed-icon-14x14.png" alt="RSS Feed of all events"></a>
    </li>
    <li>|</li>
    <li>
    {% if appengine_user %}
      <a href="{{ appengine_logout_url }}">Logout</a>
    {% else %}
      <a class="openid_login" href="/_ah/login_required">Login</a>
    {% endif %}

    </li>
  </ul>
</div>

    {% endblock %}

<table id=main>
  <tr>
    <td id=body>
      {% block body %}{% endblock %}
    </td>
    <td id=rightbar>
     {% block rightbar %}{% endblock %}
    </td>
  </tr>
</table>

  <script type="text/javascript">
    function handleSuccess(responseText, statusText, xhr, form) {
      // Find the div which contains this form
      var target = form.closest('div.respond');
      var targetid = target.attr('id');

      // Replace the HTML
      target.html(responseText);

      // Populate the share widgets
      addthis.counter(target.find('.addthis_counter')[0]);
      addthis.toolbox(target.find('.addthis_toolbox')[0]);

      // Setup the Ajax form
      target.find('form').ajaxForm({
        data: { returnfragment: 'yes' },
        dataType: 'html',
        success: handleSuccess
      });
    };
    function ajaxifyforms () {
      $('div.respond form').ajaxForm({
        data: { returnfragment: 'yes' },
        dataType: 'html',
        success: handleSuccess
      });
    };
    $(ajaxifyforms);
  </script>

  </body>

</head>

<body>
</body>
</html>
<script type="text/javascript">
function openid_login() {
  var url = '{{ login_jsurl }}?continue=/refresh';
  var width  = 300;
  var height = 200;
  var left   = (screen.width  - width)/2;
  var top    = (screen.height - height)/2;
  var params = 'width='+width+', height='+height;
  params += ', top='+top+', left='+left;
  params += ', directories=no';
  params += ', location=no';
  params += ', menubar=no';
  params += ', resizable=no';
  params += ', scrollbars=no';
  params += ', status=no';
  params += ', toolbar=no';
  newwin=window.open(url,'login', params);
  if (window.focus) {newwin.focus()}
  return false;
}
$('.openid_login').click(openid_login);
</script>
{% block script %}
{% endblock %}
</html>
