{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
<html>
  <head>
    <title>{%block title%}Sydney Linux User Group{%endblock%}</title>
    <link rel="StyleSheet" href="/css/base.css" type="text/css" media="screen">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <link type="application/rss+xml" rel="alternate" title="SLUG Events RSS" href="/rss"/> 
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block header %}
<div id=navbar>
  <ul id=links>
    <li><a href="/">Home</a></li>
    <li>|</li>
    <li><a href="/events">Events</a></li>
    <li>|</li>
    <li><a href="http://lists.slug.org.au/archives/slug/">Archives</a></li>
    <li>|</li>
    <li><a href="http://lists.slug.org.au/listinfo/">Mailing Lists</a></li>
  </ul>

  <ul id=config>
    {% if appengine_admin %}
      <li><a href="/event/add">Add Event</a></li>
      <li>|</li>
    {% endif %}
    <li id="feed-icons">
      <a href="webcal://{{ req.host }}/ical" title="iCal feed of all events"><img src="/images/ical16x16.gif" alt="iCal feed of all events"></a>
      <a href="/rss" title="RSS Feed of all events"><img src="/images/feed-icon-14x14.png" alt="RSS Feed of all events"></a>
    </li>
    <li>|</li>
    <li>
    {% if openid_user %}
      <a href="{{ openid_logout_url }}">Logout</a>
    {% else %}
      <a id=login href="{{ openid_login_url }}">Login</a>
    {% endif %}

    {% if appengine_user %}
      {% if appengine_admin %}
        <li><span style="color: red;">Admin User</span></li>
      {% endif %}
      <li><a href="{{ appengine_logout_url }}">AppEngine Logout</a></li>
    {% endif %}
    </li>
  </ul>
</div>

    {% endblock %}

<table id=main>
  <tr>
    <td id=body>
      {% block body %}{% endblock %}
    </td>
    <td id=rightbar>
     {% block rightbar %}{% endblock %}
    </td>
  </tr>
</table>

  </body>

<script type="text/javascript">
function login() {
  var url = '{{ openid_login_jsurl }}';
  var width  = 300;
  var height = 200;
  var left   = (screen.width  - width)/2;
  var top    = (screen.height - height)/2;
  var params = 'width='+width+', height='+height;
  params += ', top='+top+', left='+left;
  params += ', directories=no';
  params += ', location=no';
  params += ', menubar=no';
  params += ', resizable=no';
  params += ', scrollbars=no';
  params += ', status=no';
  params += ', toolbar=no';
  newwin=window.open(url,'login', params);
  if (window.focus) {newwin.focus()}
  return false;
}
$('#login').click(login);
</script>
{% block script %}
{% endblock %}
</html>
