{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:

This page is based on the front page, but stripped down to have space to add content.
{% endcomment %}
{% block head %}
    <link rel="StyleSheet" href="/third_party/jquery.tweet/jquery.tweet.css" type="text/css" />
    <link rel="StyleSheet" href="/css/index.css" type="text/css" media="screen">
    <link rel="StyleSheet" href="/css/jquery.tweet.css" type="text/css" />
    <script src="/third_party/jquery.tweet/jquery.tweet.js" type="text/javascript"></script>
    <script src="/third_party/jquery.gravatar/md5.js" type="text/javascript"></script>
    <script src="/third_party/jquery.gravatar/jquery.gravatar.js" type="text/javascript"></script>
{% endblock %}

{% block body %}



{%endblock %}
