{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:

This page is based on the front page, but stripped down to have space to add content.

A user can enter the speaker's topic and the length of their talk. When they press start the clock starts to countdown. Currently both the topic and length field are cleared when the user presses next speaker

Eventually, when the user presses the "next speaker" button the module sends a request for Talk Title (variable s) and Length (variable c) and sets the title to the title of the talk and the countdown clock to the length. When the user presses the "start" button the clock starts to countdown. All time in seconds. - Marghanita


{% endcomment %}
{% block head %}
    <link rel="StyleSheet" href="/third_party/jquery.tweet/jquery.tweet.css" type="text/css" />
    <link rel="StyleSheet" href="/css/index.css" type="text/css" media="screen">
    <link rel="StyleSheet" href="/css/jquery.tweet.css" type="text/css" />
    <script src="/third_party/jquery.tweet/jquery.tweet.js" type="text/javascript"></script>
    <script src="/third_party/jquery.gravatar/md5.js" type="text/javascript"></script>
    <script src="/third_party/jquery.gravatar/jquery.gravatar.js" type="text/javascript"></script>


<script type="text/javascript">
var c=300;
var t;
var timer_is_on=0;

function timedCount()
{
document.getElementById('txt').value=c;
c=c-1;
t=setTimeout("timedCount()",1000);
}

function doTimer()
{
if (!timer_is_on)
  {
  timer_is_on=1;
  timedCount();
  }
}

function stopCount()
{
clearTimeout(t);
timer_is_on=0;
c=300;
}
function getSpeaker()
{
timer_is_on=0;
s="";
c=300;
document.getElementById('s-txt').value=s;
document.getElementById('txt').value=c;
}
function getSpeaker2()
{
timer_is_on=0;
s="";
c=600;
document.getElementById('s-txt').value=s;
document.getElementById('txt').value=c;
}
function getSpeaker3()
{
timer_is_on=0;
s="";
c=900;
document.getElementById('s-txt').value=s;
document.getElementById('txt').value=c;
}
</script>
{% endblock %}

{% block body %}
<p><input class=timer type="text" id="s-txt" size=20></p>
<p><input  class=timer type="text" id="txt" size=3> (Seconds) 
<input type=radio onclick="doTimer();" name=status value=Started>Start
<input type=radio onclick="stopCount();" name=status value=completed>Stop</p>
<p><input type=button name="speaker1" value="5min" onclick="getSpeaker()"> 
<input type=button name="speaker2" value="10min" onclick="getSpeaker2()">
<input type=button name="speaker3" value="15min" onclick="getSpeaker3()"></p>


{%endblock %}
