{% extends "base.html" %}
{% block head %}
    <link rel="StyleSheet" href="/css/events.css" type="text/css" media="screen">
{% endblock %}
{% block body %}
    <h1>SLUG Events</h1>
    <div id=content class=box>

  {% if current_events %}
    <h2>Events Ending Today</h2>
    <table>
    <tr><th>Start Date</th><th>End Date</th><th>Event Name</th><th>Event Text</th><th>Response</th></tr>
    {% for event in current_events %}
    {{ event }}
    <tr class="{% cycle 'evenRow' 'oddRow' %}" onclick="location.href='/event/{{ event.key.id }}'">
      <td>{{ event.start }}</td>
      <td>{{ event.end }}</td>
      <td>{{ event.name }}</td>
      <td>{{ event.text }}</td>
      {% if openid_user %}
      <td><iframe src="/event/{{ event.key.id }}/response/show"></td>
      {% else %}
      <td><a href="{{ openid_login_url }}">Login to RSVP!</a></td>
      {% endif %}
    </tr>
    {% endfor %}
    </table>
  {% endif %}

  <h2>Future Events</h2>
  <table>
  <tr><th>Start Date</th><th>End Date</th><th>Event Name</th><th>Event Text</th><th>Response</th></tr>
  {% for event in future_events %}
  <tr class="{% cycle 'evenRow' 'oddRow' %}"  onclick="location.href='/event/{{ event.key.id }}'">
    <td>{{ event.start }}</td>
    <td>{{ event.end }}</td>
    <td>{{ event.name }}</td>
    <td>{{ event.text }}</td>
    {% if openid_user %}
    <td><iframe src="/event/{{ event.key.id }}/response/show"></iframe></td>
    {% else %}
    <td><a href="{{ openid_login_url }}">Login to RSVP!</a></td>
    {% endif %}
  </tr>
  {% endfor %}
  </table>

    </div> <!-- content -->
{% endblock %}
