{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% block head %}
    <link rel="StyleSheet" href="/css/events.css" type="text/css" media="screen">
{% endblock %}

{% block body %}
  <h1>SLUG Events</h1>
  <div id=content class=box>
    {% for event_list in events_lists %}
      {% if event_list.events %}
      <h2>{{ event_list.name }}</h2>
      <table>
        <tr><th>Start Date</th><th>End Date</th><th>Event Name</th><th>Event Text</th><th>Response</th><th>iCal</th>
          {% if appengine_admin %}
            <th>Actions</th>
          {% endif %}
        </tr>
        {% for event in event_list.events %}
          <tr class="{% cycle 'evenRow' 'oddRow' %}" onclick="location.href='{{ event.get_url }}'">
            <td>{{ event.start }}</td>
            <td>{{ event.end }}</td>
            <td><a href="{{ event.get_url }}">
                {% if appengine_admin %}
                  {{ event.name }}
                {% else %}
                {{ event.announcement.name }}
                {% endif %}</a></td>
            <td><div class=event-html>{{ event.html|safe }}</div></td>
            {% if openid_user %}
              <td><iframe class=response src="{{ event.get_url }}/response/show"/></iframe></td>
            {% else %}
              <td><a href="{{ openid_login_url }}">Login to RSVP!</a></td>
            {% endif %}
            <td>
              <div class=event-icons> <div class="ical-link"><a href="{{ event.get_url }}.ics" title="Add this event to your iCalendar"><img src="/images/ical16x16.gif" alt="Add event to iCalendar"></a></div> </div>
            </td>
            {% if appengine_admin %}
              <td>
                <a href="{{ event.get_url }}/edit">Edit</a>
                <div id=publishform>
                  <form name="publish" action="{{ event.get_url }}/publish" method="post">
                    {% if event.published %}
                      {% ifnotequal event.html event.announcement.html %}
                        <input type="submit" value="Re-publish event">
                      {% else %}
                        <p>Already published</p>
                      {% endifnotequal %}

                    {% else %}
                      <input type="submit" value="Publish event">
                    {% endif %}
                  </form>
                </div>
              </td>
            {% endif %} <!--appengine_admin -->
          </tr>
        {% endfor %} <!--event-->
    </table>
    {% endif %} <!--event_list.events -->
  {% endfor %} <!-- event_list-->

  </div> <!-- content -->
{% endblock %}
