{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% block head %}
    <link rel="StyleSheet" href="/css/index.css" type="text/css" media="screen">
    <link rel="StyleSheet" href="/third_party/jquery.tweet/jquery.tweet.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" type="text/javascript"></script>
    <script src="/third_party/jquery.tweet/jquery.tweet.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
      <h1>About Us</h1>
      <div id=content class=box>
The Sydney Linux User Group (SLUG) is a community of passionate freedom and
technology lovers in Sydney, Australia.

We are one of the largest and most active Linux users groups in the world,
with a adiverse membership of users, developers, sysadminas and advocates.

etc.
      </div><!-- content -->
      <div id=twitter class=box>
        <div id=tweet></div>
      </div><!-- twitter -->
<script>
$(document).ready(function(){
  $("#tweet").tweet({
    join_text: "auto",
    query: "#sydlug",
    avatar_size: 32,
    count: 5,
    loading_text: "loading tweets...",
    refresh_interval: 10
  }).bind("empty", function() {
    $(this).empty();
    $(this).append("No matching tweets found");
  });
});
</script>

{% endblock %}

{% block leftbar %}
  <div id=leftbar>
    {% if current_events %}
    <div id=today class=box>
      <h2>Events Today</h2>
      <ul>
        {% for event in current_events %}
        <li>
          <h3>{{ event.name }}</h3>
          <span class=start>{{ event.start }}</span>
          <div class=respond>
            {% if openid_user %}
            <iframe src="/event/{{ event.key.id }}/response/show"></iframe>
            {% else %}
            <a href="{{ openid_login_url }}">Login to RSVP!</a>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div><!-- today -->
    {% endif %}

    <div id=future class=box>
      <h2>Future Events</h2>
      <ul>
        {% for event in future_events %}
        <li>
          <h3>{{ event.name }}</h3>
          <span class=start>{{ event.start }}</span>
          <div class=respond>
            {% if openid_user %}
            <iframe src="/event/{{ event.key.id }}/response/show"></iframe>
            {% else %}
            <a href="{{ openid_login_url }}">Login to RSVP!</a>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div><!-- future -->
  </div><!-- leftbar -->
{% endblock %}

{% block footer %}
<table id=footer>
  <tr>
    <td id=attend class=box>
      <h2>
        Attend
      </h2>
      <span class=minor>
        Meeting last Friday of every month.
      </span>
    </td>
    <td id=sponsor class=box>
      <h2>
        Sponsor
      </h2>
      <span class=minor>
        An event or SLUG as a whole
      </span>
    </td>
    <td id=speak class=box>
      <h2>
        Give a talk
      </h2>
      <span class=minor>
        Educate your fellows
      </span>
    </td>
  </tr>
</table>
{% endblock %}
