{% extends "base.html" %}
{% block body %}
    <h1>Getting to SLUG Meetings</h1>
    <div id=content class=box>

<p>
SLUG meetings are currently held at the Google Australia offices. The address
of the building is:
</p>
<pre>
 Google Australia
 Level 5, Workplace 6
 48 Pirrama Road
 Pyrmont, NSW
</pre>
<p>
The Google office is the big black building marked "Accenture" opposite
Star City's main steps. See the picture below,
<img src="http://www.workplace6.com.au/core/images/template/JLL/Workplace6/Header2.jpg">
</p>

<h2>By Train</h2>
<p>
If using the trains, you can go either get off at;
<ul>
 <li>Town Hall station, head towards Darling Harbour, walk across the Pyrmont
     footbridge and then follow Pirrama Road towards Star city.  The path is
     marked in black on the map below.
 </li>
 <li>Central station, then follow the light rail instructions.</li>
</ul>
</p>

<h2>By Bus</h2>
<p>
If using the buses, the route 443, route 448, route 690 all stop right out
front of the building.
</p>

<h2>By Light Rail</h2>
<p>
If using the light rail, get off at Star City station and walk across the
street. If coming from Central you can see the path marked in purple below.
</p>

<h2>By Car</h2>
<p>
If you drive, then you can look for parking on the suburban streets around
the office, and then walk from there.
</p>

<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=206769017754671483012.0004a1ab71c06661520cd&amp;ll=-33.874941,151.201143&amp;spn=0.017103,0.027466&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=206769017754671483012.0004a1ab71c06661520cd&amp;ll=-33.874941,151.201143&amp;spn=0.017103,0.027466&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Getting to SLUG</a> in a larger map</small>

    </div> <!-- content -->
{% endblock %}
