{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% block head %}
    <link rel="StyleSheet" href="/css/offers.css" type="text/css" media="screen">
    <script type="text/javascript" src="/third_party/jquery.validation/jquery.validate.js"></script>
{% endblock %}
{% block body %}


<div id="tabs">
  <ul class="tablist">
    <li><a href="#talkOfferForm">Offer a talk</a></li>
    <li><a href="#prevoffers">Edit previous offers</a></li>
  </ul>
  <form id="talkOfferForm" class="box clearfix" action="/offer/{{offer.key.id}}/edit"
      method="post">
    <ul class="offer">

      <li class="evenRow"><label for="displayname">Your Name</label>
      <input type="text" name="displayname" class="required " value="{{offer.displayname|default:user.nickname}}"/>
        <div class="hint">This name will be used on meeting invitations and when
        announcing your talk at the event</div></li>

      <li class="oddRow"><label for="contactinfo">Contact Email</label>
      <input type="text" name="contactinfo" class="required email" value="{{offer.contactinfo|default:user.email}}"/>
        <div class="hint">We'll follow up at this address to confirm your talk.
          Your address will not be shared, and you will not be contacting for
          anything other than confirming your offer.</div>
      </li>

      <li class="evenRow"><label for="title">Talk Title</label>
      <input type="text" name="title" class="required" value="{{offer.title}}"/>
      <div class="hint"></li>

      <li class="oddRow"><label for="text">Talk Details:</label>
        <textarea class="offerText" class="required" rows=5 cols=40 name="text">{{offer.text}}</textarea>

      <li class="evenRow"><label for="minutes">Talk length</label>
        <input type="text" class="required digits" name="minutes" value="{{ offer.minutes  }}" /> <div
          class="hint">in minutes. As a guide, 5 minutes for a lightning talk, 35
          for a long talk.</div></li>

      <li class="oddRow"><label for="consent">I give consent for my talk to be recorded, and the
        resulting video and audio distributed under a <a
          href="http://creativecommons.org/licenses/by-sa/3.0/au/deed.en">CC-BY-SA</a>
        license</label> <input name="consent" type="checkbox" value="True"
        {% if offer.consent %} checked=checked {% endif %}>
      </li>
      <li><input type="submit"/></li>
    </ul>
  </form>
  <div id="prevoffers">
    {% if appengine_admin %}
      <h1>Talk Offers</h1>
    {% else %}
      <h1>Your Offers</h1>
    {% endif %}
    <table id=offertable class=box>
      <thead>
        <tr>
          {% if appengine_admin %}
            <th>DisplayName</th>
          {% endif %}
          <th>Title</th>
          <th>Description</th>
          <th>Length</th>
        </tr>
      </thead>
      <tbody>
        {% for offer in offer_list %}
          <tr class="offerrow {% cycle 'evenRow' 'oddRow' %}">
            {% if appengine_admin %}<td><p title="Created by: {{ offer.created_by.nickname }} ({{offer.created_by.email}}, {{offer.created_by.federated_id }})">{{ offer.displayname }}</td>{% endif %}
            <td>{{ offer.title }}</td>
            <td>{{ offer.text }}</td>
            <td>{{ offer.minutes }}</td>
            <td><a class="offerlink" href="{{ offer.get_url }}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


<script type="text/javascript">
  //Sets up the tabs
  $(function() {
    $( "#tabs" ).tabs();
  });

  function offer_popup() {
    event.preventDefault();
    var width  = 800;
    var height = 475;
    var left   = (screen.width  - width)/2;
    var top    = (screen.height - height)/2;
    var params = 'width='+width+', height='+height;
    params += ', top='+top+', left='+left;
    params += ', directories=no';
    params += ', location=no';
    params += ', menubar=no';
    params += ', resizable=no';
    params += ', scrollbars=no';
    params += ', status=no';
    params += ', toolbar=no';
    newwin=window.open(this.href,'offers', params);
    if (window.focus) {newwin.focus()}
  }
  $('.offerlink').click(offer_popup);

  $(function(){
    $("#talkOfferForm").validate();
  });

</script>

{% endblock %}
