{% extends "base.html" %}
{% block body %}

<form action="/response/update" method="post">
  <input type="hidden" name="attending" value="yes">

  {% for guest in guests %}
  <div>Guest Name:
    <input type="text" name="guest_name"
    value="{{ guest.guest_name }}">
  </div>
  <div>Guest Email:
    <input type="text" name="guest_email"
    value="{{ guest.guest_email }}">
  </div>
  {% endfor %}
  <div>Guest Name:
    <input type="text" name="guest_name" value="">
  </div>
  <div>Guest Email:
    <input type="text" name="guest_email" value="">
  </div>
  <div><input type="submit"/>
</form>

{% endblock %}
