{% ifequal response None %} <!-- No response yet -->
  <div class=response-table>
    <div class="response-header">Are you attending?</div>
    <a class="response-answer" href="/event/{{ event.key.id }}/response/update?attending=yes">
      <img class="response-image" src="/images/tick.png">
      <div class="response-text">Yes!</div>
    </a>
    <a class="response-answer" href="/event/{{ event.key.id }}/response/friends">
      {% include "fragments/positive-multiple.html" %}
      <div class="response-text">Yes, with friends!</div>
    </a>
    <a class="response-answer" href="/event/{{ event.key.id }}/response/update?attending=no">
      <img class="response-image" src="/images/cross.png">
      <div class="response-text">No :(</div>
    </a>
  </div> <!-- response answer -->
  {% else %}{% if response.attending %} <!-- Attending, with guests -->
  {% if guests %}
    <div class=response-table>
      <div class="gravatar-n-friends">
      <div class="response-header">
        {% include "fragments/positive-multiple.html" %}
        <div class="response-text">I'm attending with friends!</div>
      </div>
      <div class="response-details">
        <img class="gravatar-large" src="{{ response.created_by.email|gravatar:148 }}"
                    alt="{{ response.created_by.nickname }}'s Gravatar">
        <div class="positive-multiple">
          {% for guest in guests %}
            {% if forloop.counter0|divisibleby:3 %}
            <div class="positive-multiple">
              <div class="gravatar-column">
            {% endif %}
              <img class="gravatar-small"
                src="{{ guest.guest_email|gravatar:48 }}"
                alt="{{ guest.guest_name }}'s Gravatar">
            {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="response-answers">
        <a class="response-answer" href="{{ event.get_url }}/response/friends">
          <img class="response-image-small" src="/images/tick.png">
          <img class="response-image-small" src="/images/tick.png">
          <div class="response-text">Update friends</div>
        </a>
        <a href="/event/{{ event.key.id }}/response/update?attending=no">
          <img class="response-image-small" src="/images/cross.png">
          <div class="response-text">Can't make it :(</div>
        </a>
      </div>
    </div>
  {% else %} <!-- attending, no guests yet -->
    <div class=response-table>
      <div class="gravatar-n-friends">
        <div class="response-header">
          <img class="response-image" src="/images/tick.png">
          <div class="response-text">I'm attending!</div>
        </div>
        <div class="response-details">
          <img class="gravatar-large" src="{{response.created_by.email|gravatar:148 }}"
            alt="{{ response.created_by.nickname }}'s Gravatar">
        </div>
        <a class="response-answer" href="/event/{{ event.key.id }}/response/friends">
          <div class="response-images-small">
             <img class="response-image-small" src="/images/tick.png">
             <img class="response-image-small" src="/images/tick.png">
           </div>
           <div class="response-text">Add friends!</div>
         </a>
         <a class="response-answer" href="/event/{{ event.key.id }}/response/update?attending=no">
           <img class="response-image-small" src="/images/cross.png">
           <div class="response-text">Can't make it :(</div>
         </a>
       </div>
    </div>
  {% endif %} <!-- end is-attending -->
{% else %} <!-- Has responded, not attending -->
  <div class=response-table>
    <div class="gravatar-n-friends">
      <div class="response-header">
        <img class="response-image" src="/images/cross.png">
        <div class="response-text">I'm not attending :(</div>
      </div>
        <img class="gravatar-large"
          src="{{ response.created_by.email|gravatar:148 }}"
          alt="{{ response.created_by.nickname }}'s Gravatar">
      <div class="response-details">
        <a class="response-answer" href="/event/{{ event.key.id }}/response/update?attending=yes">
          <img class="response-image-small" src="/images/tick.png">
          <div class="response-text">I'm attending!</div>
        </a>
      </div>
    </div>
  </div>
{% endif %}{% endifequal %}
