{% ifequal response None %}
    <div>
      <table>
        <tr>
          <th colspan=2><span class="response-header">Are you attending?</span></th>
        </tr>
        <tr>
          <td>
            <a href="/event/{{ event.key.id }}/response/update?attending=yes">
              <img class="response" src="/images/tick.png">
            </a>
          </td>
          <td>
            <a href="/event/{{ event.key.id }}/response/update?attending=yes">
              Yes!
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/event/{{ event.key.id }}/response/friends">
              {% include "fragments/positive-multiple.html" %}
            </a>
          </td>
          <td>
            <a href="/event/{{ event.key.id }}/response/friends">
              Yes, with friends!
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/event/{{ event.key.id }}/response/update?attending=no">
              <img class="response" src="/images/cross.png">
            </a>
          </td>
          <td>
            <a href="/event/{{ event.key.id }}/response/update?attending=no">
              No :(
            </a>
          </td>
        </tr>
      </table>
    </div>
{% else %}{% if response.attending %}
  {% if guests %}
    <div>
      <table>
        <tr>
          <th>
            {% include "fragments/positive-multiple.html" %}
          </th>
          <th>
            <span class="response-header">I'm attending with friends!</span>
          </th>
        </tr>
        <tr>
          <td colspan=2>

            <table class="gravatar-n-friends">
              <tr>
                <td rowspan=3>
                  <img class="gravatar-large"
                    src="{{ response.created_by.email|gravatar:148 }}"
                    alt="{{ response.created_by.nickname }}'s Gravatar">
                </td>
                {% for guest in guests %}
                  {% if forloop.counter0|add:0|divisibleby:3 %}
                  <td>
                    <img class="gravatar-small"
                      src="{{ guest.guest_email|gravatar:48 }}"
                      alt="{{ guest.guest_name }}'s Gravatar">
                  </td>
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                {% for guest in guests %}
                  {% if forloop.counter0|add:2|divisibleby:3 %}
                  <td>
                    <img class="gravatar-small"
                      src="{{ guest.guest_email|gravatar:48 }}"
                      alt="{{ guest.guest_name }}'s Gravatar">
                  </td>
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                {% for guest in guests %}
                  {% if forloop.counter0|add:1|divisibleby:3 %}
                  <td>
                    <img class="gravatar-small"
                      src="{{ guest.guest_email|gravatar:48 }}"
                      alt="{{ guest.guest_name }}'s Gravatar">
                  </td>
                  {% endif %}
                {% endfor %}
              </tr>
            </table>

          </td>
        </tr>
        <tr>
          <td colspan=2>
            <a href="/event/{{ event.key.id }}/response/friends">
              <table>
                <tr>
                  <td><img class="response-small" src="/images/tick.png"></td>
                  <td><img class="response-small" src="/images/tick.png"></td>
                  <td>Update friends</td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan=2>
            <a href="/event/{{ event.key.id }}/response/update?attending=no">
              <table>
                <tr>
                  <td>
                    <img class="response-small" src="/images/cross.png">
                  </td>
                  <td>
                    Can't make it :(
                  </td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
      </table>
    </div>
  {% else %}
    <div>
      <table>
        <tr>
          <th>
            <img class="response" src="/images/tick.png">
          </th>
          <th>
            <span class="response-header">I'm attending!</span>
          </th>
        </tr>
        <tr>
          <td colspan=2>
            <img class="gravatar-large"
              src="{{ response.created_by.email|gravatar:148 }}"
              alt="{{ response.created_by.nickname }}'s Gravatar">
          </td>
        </tr>
        <tr>
          <td colspan=2>
            <a href="/event/{{ event.key.id }}/response/friends">
              <table>
                <tr>
                  <td><img class="response-small" src="/images/tick.png"></td>
                  <td><img class="response-small" src="/images/tick.png"></td>
                  <td>Add friends!</td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan=2>
            <a href="/event/{{ event.key.id }}/response/update?attending=no">
              <table>
                <tr>
                  <td>
                    <img class="response-small" src="/images/cross.png">
                  </td>
                  <td>
                    Can't make it :(
                  </td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
      </table>
    </div>
  {% endif %}
{% else %}
    <div>
      <table>
        <tr>
          <th>
            <img class="response" src="/images/cross.png">
          </th>
          <th>
            <span class="positive-header">I'm not attending :(</span>
          </th>
        </tr>
        <tr>
          <td colspan=2>
            <img class="gravatar-large"
              src="{{ response.created_by.email|gravatar:148 }}"
              alt="{{ response.created_by.nickname }}'s Gravatar">
          </td>
        </tr>
        <tr>
          <td colspan=2>
            <a href="/event/{{ event.key.id }}/response/update?attending=yes">
              <table>
                <tr>
                  <td>
                    <img class="response-small" src="/images/tick.png">
                  </td>
                  <td>
                    I'm attending!
                  </td>
                </tr>
              </table>
            </a>
          </td>
        </tr>
      </table>
    </div>
{% endif %}{% endifequal %}
