{% extends "blank.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% block head %}
    <link rel="StyleSheet" href="/css/response.css" type="text/css" media="screen">
{% endblock %}
{% block body %}

<form action="/event/{{ event.key.id }}/response/update" method="post">
  <input type="hidden" name="attending" value="yes">

  {% for guest in guests %}
  <div>Guest Name:
    <input type="text" name="guest_name"
    value="{{ guest.guest_name }}">
  </div>
  <div>Guest Email:
    <input type="text" name="guest_email"
    value="{{ guest.guest_email }}">
  </div>
  {% endfor %}
  <div>Guest Name:
    <input type="text" name="guest_name" value="">
  </div>
  <div>Guest Email:
    <input type="text" name="guest_email" value="">
  </div>
  <div><input type="submit"/>
</form>

{% endblock %}
