{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% load gravatar %}

<html {%block namespace %}{%endblock%}>
  <head>
    <title>{%block title%}Sydney Linux User Group{%endblock%}</title>
    <link rel="StyleSheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen">
    <link rel="StyleSheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}third_party/jquery.form/jquery.form.js"></script>
    <link type="application/rss+xml" rel="alternate" title="SLUG Events RSS" href="/rss"/>
    {% block head %}
    {% endblock %}

{% if not TESTING %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23521264-1']);
  _gaq.push(['_setDomainName', 'slug.org.au']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

  </head>

<body>
  {% block header %}

  <div id="navbar" class="clearfix">
    <ul id="links">
      <li><a href="/">Home</a></li>
      <li>|</li>
      <li><a href="/events">Events</a></li>
      <li>|</li>
      <li><a href="http://lists.slug.org.au/archives/slug/">Archives</a></li>
      <li>|</li>
      <li><a href="http://lists.slug.org.au/listinfo/">Mailing Lists</a></li>
      <li>|</li>
      <li><a href= "https://github.com/sydney-linux-user-group/slug">Get the code!</a></li>
    </ul>

    <ul id="config">
      <li style="list-style: none">{% if user.is_staff %}</li>
      <li><span style="color: red;">Admin User</span></li>
      <li><a id="add_event" href="/event/add">Add Event</a></li>
      <li style="list-style: none">{% endif %}</li>
      <li id="feed-icons">
        <a href="webcal://{{ request.get_host }}/ical" title="iCal feed of all events">
          <img src="{{ STATIC_URL }}images/ical16x16.gif" alt="iCal feed of all events"></a>
        <a href="/rss" title="RSS Feed of all events">
          <img src="{{ STATIC_URL }}images/feed-icon-14x14.png" alt="RSS Feed of all events"></a>
        </li>
      <li>|</li>
      <li>{% if user.is_authenticated %}
        <a id="logout_link" href="/accounts/logout/?next=/refresh">Logout</a>
      {% else %}
        <a id="login_link" class="openid_login" href="/accounts/login/?next=/refresh">Login</a>
      {% endif %}</li>
    </ul>
  </div>{% endblock %}

  <table id="main">
    <tr>
      <td id="body">
        {% block body %}
        {% endblock %}
      </td>

      <td id="rightbar">
        {% block rightbar %}
        {% endblock %}
      </td>
    </tr>
  </table>
</body>


</html>
  <script type="text/javascript">
    function handleSuccess(responseText, statusText, xhr, form) {
      // Find the div which contains this form
      var target = form.closest('div.respond');
      var targetid = target.attr('id');

      // Replace the HTML
      target.html(responseText);

      // Populate the share widgets
      addthis.counter(target.find('.addthis_counter')[0]);
      addthis.toolbox(target.find('.addthis_toolbox')[0]);

      // Setup the Ajax form
      target.find('form').ajaxForm({
        data: { returnfragment: 'yes' },
        dataType: 'html',
        success: handleSuccess
      });
    };
    function ajaxifyforms () {
      $('div.respond form').ajaxForm({
        data: { returnfragment: 'yes' },
        dataType: 'html',
        success: handleSuccess
      });
    };
    $(ajaxifyforms);
    $(window.console.log('ajaxification'));
  </script>
<script type="text/javascript">
function openid_login() {
  var url = '/accounts/login/?next=/refresh';
  var width  = 750;
  var height = 600;
  var left   = (screen.width  - width)/2;
  var top    = (screen.height - height)/2;
  var params = 'width='+width+', height='+height;
  params += ', top='+top+', left='+left;
  params += ', directories=no';
  params += ', location=no';
  params += ', menubar=no';
  params += ', resizable=no';
  params += ', scrollbars=yes';
  params += ', status=no';
  params += ', toolbar=no';
  newwin=window.open(url,'login', params);
  if (window.focus) {newwin.focus()}
  return false;
}
$('.openid_login').click(openid_login);
</script>
{% block script %}
{% endblock %}
</html>
