{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% block head %}
    <link rel="StyleSheet" href="{{ STATIC_URL }}css/editevent.css" type="text/css" media="screen">
{% endblock %}
{% block body %}


<form id="templateEdit" class="clearfix" action="/event/{{event.key.id}}/edit" method="post">
  <div id="tabs">
    <ul class="tablist">
      <li><a href="#source">Source</a></li>
      <li><a href="#agenda">Agenda</a></li>
      <li><a href="#plaintext">Formatted plaintext</a></li>
      <li><a href="#formatted">HTML</a></li>
    </ul>
    <div id="source" class=clearfix>
      <textarea class="box eventInput" rows="30" cols="80" name="input">{{event.input}} </textarea>
      <div id="sourceoptions">
        <form>
          <label for="fridays">Fridays</label>
          <select id=fridays>
             <option value=""></option>
             {% for friday in fridays %}
             <option value="{{ friday }}">{{friday}}</option>
             {% endfor %}
          </select>
          <label for="templates">Templates</label>
          <select id=templates>
             <option value=""></option>
             {% for name, template in templates %}
             <option value="{{ name }}">{{ name }}</option>
             {% endfor %}
          </select>
          {% for name, template in templates %}
             <textarea id={{name}} style="display: none;">{{template|safe}}</textarea>
          {% endfor %}
        </form>
        <ul class="eventData">
          <li><label for="name">Event Name: </label>
            <input type="text" name="name" value="{{event.name}}"/></li>
          <li><label for="start">Start Time: </label>
            <input type="text" name="start" value="{{event.start}}"/></li>
          <li><label for="end">End Time: </label>
            <input type="text" name="end" value="{{event.end}}" /></li>
          <li><input type="submit"/></li>
        </ul>
      </div>
    </div>
    <div id=agenda class=clearfix>
      <ul id="agenda_items" class="connectedSortable box">
        <li class=".ui-state-disabled">Agenda Items</li>
        {% for item in agenda %}
          <li class="agendaitem" id={{ item.key }}>
          {{ item.offer.displayname }} - {{ item.offer.title }} - {{ item.offer.minutes }}
          </li>
        {% endfor %}
      </ul>
      <ul id="offers" class="connectedSortable box">
        <li class=".ui-state-disabled">All offers</li>
          {% for item in offers %}
          <li class="offer" id={{ item.key }}>
          {{ item.displayname }} - {{ item.title }} - {{ item.minutes }}
          </li>
          {% endfor %}
      </ul>
      <ul id="trashcan" class="connectedSortable box">
        <li>Drag agenda items here</li>
        <li>to delete them</li>
      </ul>
    </div>
    <div id="plaintext" class="eventOutput">
      <div class="box"><pre class="eventOutput">{{event.plaintext|safe}}</pre></div>
    </div>
    <div id="formatted" class="eventOutput">
      <div class="box">{{event.html|safe}}</div>
    </div>
  </div>
</form>
<script>

  //Sets up the tabs
  $(function() {
    $( "#tabs" ).tabs();
  });

  //Set up drag/drop agendaization

  //Handle adding an item to agenda
  function addToAgenda(event, ui) {
    item = $(ui.item);
    id = item.attr('id');
    if (item.hasClass('offer')) {
      $.post('/event/{{ event.key }}/addoffer', { 'id': id }, function(data) {
        item.removeClass('offer');
        item.addClass('agendaitem');
        item.attr('id', data.key);
      }, 'json');
    };
    };

  function dragToTrash(event, ui) {
    item = $(ui.item);
    id = item.attr('id');
    $.post('/event/{{ event.key }}/remoffer', { 'id': id }, function(data) {
      item.remove();
    });
  };

  $(function() {
    $("#trashcan" ).sortable({
      receive: dragToTrash,
    }).disableSelection();
  });

  $(function() {
    $( "#agenda_items" ).sortable({
      connectWith: "#trashcan",
      receive: addToAgenda,
    }).disableSelection();
  });

  $(function() {
    $( "#offers" ).sortable({
      connectWith: "#agenda_items"
    }).disableSelection();
  });
  

  $('#fridays').change(function () {
    var value = $(this).val();
    if (!value) {
      $('input[name="start"]').val('');
      $('input[name="end"]').val('');
    } else {
      $('input[name="start"]').val(value + ' 6:00pm');
      $('input[name="end"]').val(value + ' 8:00pm');
      var month = value.match(/[a-zA-z]*/);
      var year = value.match(/[0-9][0-9][0-9][0-9]/);
    }
  });

  $('#templates').change(function () {
    var name = $(this).val();
    if (name.replace(/\W+/, '') == '') {
       return;
    }
    var template = $('#'+name).val();
   
    var input = $('textarea[name="input"]');
    if (input.val().replace(/\W+/,'') == '') {
       input.val(template);
    } else {
       alert('Please make the input empty before selecting a template.');
    }
  });
</script>

{% endblock %}
