{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% block title %} {{ event.announcement.name }} {% endblock %}

{% block body %}
    <h3>{{ event.announcement.name }}</h3>
    <div id=content class=box style="float: left;">
      <div class='eventBody'> {{ event.announcement.html|safe }} </div>
    </div>
{% endblock %}
{% block rightbar %}
    <div id=eventright class='box'>
      <div class=eventitem>
        {% if user.is_staff %}
          <div class=editlink><a href="{{ event.get_url }}/edit">Edit</a></div>
        {% endif %}
        <div class=respond id="respond-{{ event.key.id }}">
          {% if user.is_staff %}
            {% include "response-show.html" %}
          {% else %}
            <a class="openid_login" href="/accounts/login/?next=/refresh">Login to RSVP!</a>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
