{% extends "base.html" %}
{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% block head %}
    <link rel="StyleSheet" href="{{ STATIC_URL }}css/events.css" type="text/css" media="screen">
    <link rel="StyleSheet" href="{{ STATIC_URL }}css/response.css" type="text/css" media="screen">
{% endblock %}

{% block body %}
<table>
  <tr>
    <td colspan=2 id=header>
      <h1>SLUG Events</h1>
    </td>
  </tr><tr>
    <td colspan=2 id=content class=box>
      <table>
      {% for event_list in events_lists %}
      {% if event_list.events %}
        <tr class="header-type">
          <th colspan="3">
            <h2>{{ event_list.name }}</h2>
          </th>
        </tr>
        <tr class="header-titles">
          <th>Date</th><th>Event Text</th><th class="response">Response</th>
        </tr>
        {% for event, response, guests in event_list.events %}
        <tr class="eventrow {% cycle 'evenRow' 'oddRow' %}{% if appengine_admin and not event.published %} unpublished{% endif %}{% if appengine_admin and event.html != event.announcement.html %} altered{% endif %}">
          <td>
            {{ event.start }} - {{ event.end }}
            {% if user.is_staff %}
              <a href="{{ event.get_url }}/edit">Edit</a>
              <div class=publishform id="publish_{{ event.pk }}">
                {% ifnotequal event.html event.announcement.html %}
                <form name="publish" action="{{ event.get_url }}/publish" method="post">
                {% csrf_token %}
                {% if event.published %} <!-- Event was published, then changed"-->
                <input id="submit_{{ event.pk }}" type="submit" value="Re-publish event">
                  <p>Cannot send announcement email until after republishing.</p>
                {% else %} <!-- event not ever published -->
                <input id="submit_{{ event.pk }}" type="submit" value="Publish event">
                {% endif %}
                </form>
                {% else %} <!-- No change -->
                <p>Already published</p>
                <form name="sendemail" action="{{ event.get_url }}/email" method=post>
                  {% csrf_token %}
                  <input id="submit_{{ event.pk }}" type="submit" value="Announce event via email">
                </form>
                {% endifnotequal %} <!-- No change -->
              </div>
            {% endif %}
          </td><td>
            <div class="event">
              {% if user.is_staff %}
              {{ event.html|safe }}
              {% else %}
              {{ event.announcement.html|safe }}
              {% endif %}
            </div>
          </td><td>
            <div class=respond id="{{ event.key.id}}">
              {% include "response-show.html" %}
            </div>
          </td>
        </tr>
        {% endfor %} <!--event-->
      {% endif %} <!--event_list.events -->
      {% endfor %} <!-- event_list-->
      <tr><td colspan=6>&nbsp;</td></tr>
    </table>
    </td>
  </tr>
</table>
{% endblock %}

{% block script %}
{% include "response-script.html" %}
{% endblock %}
