{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% load gravatar %}
<table class="response">
  <!-- Event header -->
  <tr>
    <td colspan=3 class="response-header">
      <table>
        <tr>
          <th>
            <h3><a class=eventname href="{{ event.get_url }}">{{ event.announcement.name }}</a></h3>
          </th>
          <td>
            {{ event.start }}
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <!-- Show the gravatars of people attending. -->
    <td colspan=2 class="response-gravatars">
      <div>
        <form method=post action="{{ event.get_url }}/response/update">
          <input type=hidden name=attending value="yes">
          {% for other_response in event.responses %}

            {% ifequal other_response.gcreated_by response.gcreated_by %}
              {% if response.attending %}
                {% if other_response.guest %}
                  <input type="hidden" name="guest_name" value="{{ other_response.guest_name }}">
                  <input id="{{other_response.key}}" type="hidden" name="guest_email" value="{{ other_response.guest_email }}">
                  <img class="gravatar gravatar-friend"
                    style="background-image: url('{{ other_response.guest_email|gravatar:32 }}');"
                    src="{{ STATIC_URL }}images/blank.png"
                    onMouseOver="this.src='{{ STATIC_URL }}images/cross-gravatar.png';"
                    onMouseOut="this.src='{{ STATIC_URL }}images/blank.png';"
                    onClick="$('#{{other_response.key}}').val(''); $(this.parentNode).submit();">
                {% else %}
                  <!-- your responses -->
                  <img src="{{ other_response.gcreated_by.email|gravatar:32 }}"
                      title="{{ other_response.gcreated_by.nickname }}"
                      class="gravatar gravatar-you">
                {% endif %}
              {% endif %}
            {% else %}
              {% if not other_response.guest and other_response.attending %}
                <img src="{{ other_response.gcreated_by.email|gravatar:32 }}"
                    title="{{ other_response.gcreated_by.nickname }}"
                    class="gravatar">
              {% else %}
                <!-- not attending or guest -->
              {% endif %}
            {% endifequal %}
          {% endfor %}
        </form>
      </div>
    </td>

    <!-- Social widget -->
    <td rowspan=2 class="response-share">
      <div id="share-{{ event.key.id }}" class="addthis_toolbox addthis_default_style"
          addthis:url="http://{{ config.HOST }}{{ event.get_url }}"
          addthis:title="{{ event.announcement.name }} on {{ event.start }}"
          >
        <a class="addthis_counter"></a>
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
      </div>
    </td>
  </tr>

{% if user %}
  <!-- Is logged in. -->
{% ifequal response None %}
  <!-- Has not responded yet. -->
  <tr>
    <td>
      <form method=post action="{{ event.get_url }}/response/update">
        <input type=hidden name=attending value="yes">
        <input class="response-button response-yes" type=submit value="I can attend">
        and be bringing
        <input class="response-friends" type=text name=friends value=0>
        friends!
      </form>
    </td>
  </tr><tr>
    <td>
      <form method=post action="{{ event.get_url }}/response/update">
        <input type=hidden name=attending value="no">
        <input class="response-button response-no" type=submit value="I can't attend">
      </form>
    </td>
  </tr>
{% else %}
  <!-- Has responded. -->
  <tr>
    <td>
      {% if response.attending %}
        {% if guests %}
          <img class="response-image" src="{{ STATIC_URL }}images/multi-small.png">
        {% else %}
          <img class="response-image" src="{{ STATIC_URL }}images/tick-small.png">
        {% endif %}
      {% else %}
          <img class="response-image" src="{{ STATIC_URL }}images/cross-small.png">
      {% endif %}
    </td><td>
      {% if response.attending %}
        Yes, I'm attending!
      {% else %}
        I'm not attending!
      {% endif %}
    </td>
  </tr><tr>
    <td colspan=3>
      <table class="response-change">
        <tr>
          {% if response.attending %}
          <td>
            <form method=post action="{{ event.get_url }}/response/update">
              <input type=hidden name=attending value="yes">
              <input type=hidden name=friends value="{{ guests|length|add:5 }}">
              <input class="response-button-small response-addfriends-small" type=submit value="Add more friends">
            </form>
          </td>
          <td>
            <form method=post action="{{ event.get_url }}/response/update">
              <input type=hidden name=attending value="no">
              <input class="response-button-small response-no-small" type=submit value="I can't attend">
            </form>
          </td>
          {% else %}
          <td>
            <form method=post action="{{ event.get_url }}/response/update">
              <input type=hidden name=attending value="yes">
              <input class="response-button-small response-yes-small" type=submit value="I can attend">
            </form>
          </td>
          {% endif %}
        </tr>
      </table>
    </td>
  </tr>
{% endifequal %}
{% else %}
  <!-- Is not logged in. -->
  <tr>
    <td>
      <a class="openid_login" href="{{ login_url }}">Login to RSVP!</a>
    </td>
  </tr>
{% endif %}
</table>
