{% comment %}
-*- coding: utf-8 -*-
vim: set ts=2 sw=2 et sts=2 ai:
{% endcomment %}
{% load gravatar %}
{% block body %}

<form class="response-answer" action="{{ event.get_url }}/response" method="post">
  {% csrf_token %}
  <input type="hidden" name="attending" value="yes">

<table>
  {% for guest in guests %}
  <tr class="row{{forloop.counter0}}">
    <td>
      Name:
    </td><td>
      <input class="" type="text" name="guest_name" value="{{ guest.guest_name }}">
    </td>
    <td rowspan=2>
      <img class="gravatar" src='{{ guest.guest_email|gravatar:32 }}'
        onClick="$('.row{{forloop.counter0}}').remove();">
    </td>
  </tr>
  <tr class="row{{forloop.counter0}}">
    <td>
      Email:
    </td><td>
      <input type="text" name="guest_email" value="{{ guest.guest_email }}">
    </td>
  </tr>
  {% endfor %}

  {% for i in extra_guests %}
  <tr>
    <td>
      Name:
    </td><td>
      <input type="text" name="guest_name" value="{{ guest.guest_name }}">
    </td>
    <td rowspan=2>
      <img class="extra{{i}}" src="{{ STATIC_URL }}images/silhouette-small.png">
    </td>
  </tr><tr>
    <td>
      Email:
    </td><td>
      <input type="text" name="guest_email" value="{{ guest.guest_email }}"
        onChange="$('.extra{{i}}').gravatar($(this).val());">
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td>
      <input type="submit"/>
    </td>
  </tr>
</table>

</form>

{% endblock %}
